Django<1.9
django-cms<3.3
Pillow==3.0
djangocms-file
djangocms-googlemap
djangocms-inherit
djangocms-picture
djangocms-teaser
djangocms-video
djangocms-link
djangocms-snippet
djangocms-text-ckeditor
djangocms-blog
django-reversion<1.9
django_debug_toolbar<1.5
django-debug-toolbar-template-timings<0.7
django-toolbelt