Django<1.9
django-cms<3.3
Pillow==3.0
djangocms-file<0.3
djangocms-googlemap<0.5
djangocms-inherit<0.2
djangocms-picture<0.3
djangocms-teaser<0.3
djangocms-video<0.3
djangocms-link<1.8
djangocms-snippet<1.8
djangocms-text-ckeditor<2.9
djangocms-blog<0.7
django-reversion<1.9
django_debug_toolbar<1.5
django-debug-toolbar-template-timings<0.7
django-toolbelt<0.1