{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load cms_tags %}

<li class="grid_6" id="post-{{ post.slug }}" data-type="3d">
    <div class="hover-fx">
        {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
        <a class="fLeft" href="" target="_blank">
            <span><i class="icon-link"></i></span>
        </a>
        <a class="fRight" href="{{ post.get_absolute_url }}">
            <span><i class="icon-cogs"></i></span>
        </a>
    </div>
    <div class="detailes">
        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
    </div>
</li>