{% extends 'home.html' %}
{% load static %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="row forum clearfix mbs">
        <div class="grid_9">
            <h3 class="col-title">{% placeholder 'expertise_title' %}</h3><span class="liner"></span>
            {% placeholder 'expertise_page' %}
        </div><!-- grid9 -->

        <div class="grid_3">
        </div><!-- grid3 -->
    </div>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}